{% extends "main.html" %}
{% block content %}
<div class="row top-menu">
  <div class="col-md-10"></div>
  <div class="col-md-2 text-right">
    <a href="{{url_for('showSport')}}">Back to Home Page </a>
  </div>
<div class="row divider green">
  <div class="col-md-12"></div>
</div>
<div class="row banner menu">
  <div class="col-md-11 col-md-offset-1 padding-none">
    <h1>{{ sport.name }}
    <figure class="creator">
      <img src="{{ url_for('static', filename='blank_user.gif') }}">
      <figcaption>{{ creator.name }}</figcaption>
    </figure>
    </h1>

  </div>
</div>

<div class = 'flash'>
        {% with messages = get_flashed_messages() %}
    {% if messages %}

      <ul>
      {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}

</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <h2>Recently Added Items</h2>
        <div>
            <a href = "{{url_for('showSport', sport_id = sport.id)}}">
              <div class="row">
                <div class="col-md-1"></div>
                  <div class="col-md-10 sport-list">
                    <a
                      {% for items in items %}
                      <h3>{{items.name}}</h3>
                      <h3>{{items.description}}</h3>
                      <p> {{items.price}} </p>
                      {% endfor %}
                    </a>


                  </div>
                </div>
              <div class="col-md-1"></div>
          </div>
{% endblock %}
